
<!-- Menu Bar -->
<p-menubar [model]="items" [style]="{ height: '80px'}">
    <ng-template pTemplate="start">
        <a href="/dashboard">
            <img src="./assets/images/cryptocurrencies.png" class="mr-4 ml-2" alt="Logo">
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <!-- Theme Changer and Refresh page -->
        <div *ngIf="!checkTheme; else elseTheme">
            <span class="p-input-icon-left">
                <!-- Custom Icon -->
                <i *ngIf="notLoading" class="pi pi-search"></i>
                <i *ngIf="!notLoading" class="pi pi-spin pi-spinner"></i>
                <!-- Input Text -->
                <input type="text" #searchBar (keyup.enter)="onSubmit(searchBar.value)" pInputText placeholder="Search"
                pTooltip="The searchbar is used like a query, to use it we have 4 options, that should be used in order: 
                - Cryptocurrency: A string with the symbol of the cryptocurrencies you want to search;
                - Convert: Converts the value of the cryptocurrencie to a desired value, EUR, USD (default);
                - Example: btc EUR" tooltipPosition="bottom" style="width: 30vw"/>
            </span>
            <!-- Theme Changer and Refresh Button -->
            &nbsp;<button pButton pRipple type="button" class="p-button-outlined p-element p-button-rounded p-button p-component p-button-icon-only" icon="pi pi-sun" (click)="changeTheme('saga-orange')"></button>
            &nbsp;<button pButton pRipple type="button" class="p-element p-button-rounded p-button p-component p-button-icon-only" icon="pi pi-moon" (click)="changeTheme('arya-orange')"></button>
            &nbsp;<button pButton pRipple icon="pi pi-refresh" onClick="window.location.reload();" 
                class="p-button-outlined p-element p-button-rounded p-button p-component p-button-icon-only"></button>
        </div>
        <ng-template #elseTheme>
            <span class="p-input-icon-left">
                <!-- Custom Icon -->
                <i *ngIf="notLoading" class="pi pi-search"></i>
                <i *ngIf="!notLoading" class="pi pi-spin pi-spinner"></i>
                <!-- Input Text -->
                <input type="text" #searchBar (keyup.enter)="onSubmit(searchBar.value)" pInputText placeholder="Search"
                pTooltip="The searchbar is used like a query, to use it we have 4 options, that should be used in order: 
                - Cryptocurrency: A string with the symbol of the cryptocurrencies you want to search;
                - Convert: Converts the value of the cryptocurrencie to a desired value, EUR, USD (default);
                - Example: btc EUR" tooltipPosition="bottom" style="width: 30vw"/>
            </span>
            <!-- Theme Changer and Refresh Button -->
            &nbsp;<button pButton pRipple type="button" class="p-element p-button-rounded p-button p-component p-button-icon-only" icon="pi pi-sun" (click)="changeTheme('saga-orange')"></button>
            &nbsp;<button pButton pRipple type="button" class="p-button-outlined p-element p-button-rounded p-button p-component p-button-icon-only" icon="pi pi-moon" (click)="changeTheme('arya-orange')"></button>
            &nbsp;<button pButton pRipple icon="pi pi-refresh" onClick="window.location.reload();" 
                class="p-button-outlined p-element p-button-rounded p-button p-component p-button-icon-only"></button>
        </ng-template>
        <!-- Theme Changer and Refresh page -->
    </ng-template>
</p-menubar>