
<div class="bottom-0 py-1 px-3 md:px-5 lg:px-7">
    <div class="grid">
        <div class="col-6">
            <div class="flex align-items-center">
                <p class="text-700">Copyright &#169; Ruben Pereira {{ year }}</p> 
            </div>
        </div>
        
        <div class="col-6">
            <div class="flex justify-content-end">
                <a href="https://github.com/RubendAvidaPereira/crypto-dashboard">
                    <p-chip label="Github" icon="pi pi-github" styleClass="mr-2"></p-chip>
                </a>
                <a href="https://www.linkedin.com/in/ruben-pereira-0204b61b3/">
                    <p-chip label="Linkedin" icon="pi pi-linkedin" styleClass="mr-2"></p-chip>
                </a>
                <p-chip label="Ruben Pereira" image="https://avatars.githubusercontent.com/u/63781731?v=4" styleClass="mr-2 custom-chip"></p-chip>
            </div>
        </div>
     </div>
</div>