
<!-- Loader -->
<p-progressBar *ngIf="!show" class="py-0" [style]="{ height: '0.25rem'}" mode="indeterminate"></p-progressBar>

<!-- Last Day Prices for Major Cryptocoins -->
<div class="px-3 py-4 md:px-5 lg:px-7">
    <app-searched-crypto></app-searched-crypto>
    <div class="grid">
        <!-- Bitcoin, Ethereum, Cardano and Polkadot -->
        <div *ngFor="let data of lastDayData" class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">{{ data.id }}</span>
                        <div class="text-900 font-medium text-xl">{{ data.price | currency:"EUR" }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center" style="width:2.5rem;height:2.5rem">
                        <img alt="Card" src="{{ data.logo_url }}">
                    </div>
                </div>
                <span class="text-green-500 font-medium">Current Market Cap:&nbsp;</span>
                <span class="text-500">{{ data.market_cap | currency:"EUR" }}</span>
            </div>
        </div>
        <!-- End of Comparison -->
    </div>

    <br>
    <hr>

    <div class="grid py-4">
        <!-- + INFO -->
        <div class="col-12 md:col-7 lg:col-7">
            <div class="surface-card shadow-2 p-3 border-round">
                <h3>Overall Currencies Information - Top 50</h3>
                <div class="flex justify-content-center">
                    <p-table [value]="latestData" responsiveLayout="scroll"
                    [scrollable]="true" scrollHeight="500px"
                    class="w-full">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Currency</th>
                                <th>Price</th>
                                <th>High</th>
                                <th>Circulating Supply</th>
                                <th>Max Supply</th>
                                <th>Price Change</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-latestData>
                            <tr>
                                <td>{{ latestData.id }}</td>
                                <td>{{ latestData.price | currency:"EUR" }}</td>
                                <td>{{ latestData.high | currency:"EUR" }}</td>
                                <td>{{ latestData.circulating_supply }}</td>

                                <td class="flex justify-content-center" *ngIf="!latestData.max_supply; else elseMaxSupply">
                                    <i class="fa-solid fa-infinity"></i>
                                </td>
                                <ng-template #elseMaxSupply>
                                    <td>
                                        {{ latestData.max_supply }}
                                    </td>
                                </ng-template>

                                <td *ngIf="latestData['1d'].price_change_pct <= 0; else elsePriceChangePct"
                                [ngStyle]="{ color:'var(--red-500)' }">
                                    {{ latestData["1d"].price_change_pct * 100 | number:'1.0-3' }}%
                                </td>
                                <ng-template #elsePriceChangePct>
                                    <td [ngStyle]="{ color:'var(--green-500)' }">
                                        {{ latestData["1d"].price_change_pct * 100 | number:'1.0-3' }}%
                                    </td>
                                </ng-template>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>    
        </div>
        <!-- + INFO -->

        <!-- CHARTS -->
        <div class="col-12 md:col-5 lg:col-5">
            <div class="surface-card shadow-2 p-3 border-round h-full">
                <h3>Price Changes Charts</h3>
                <p-tabView [scrollable]="true">
                    <!-- Market Cap Chart -->
                    <p-tabPanel header="Market Cap Data">
                        <p-chart type="pie" [data]="_marketCapData" height="400px"></p-chart> 
                    </p-tabPanel>
                    <!-- BTC Chart -->
                    <p-tabPanel header="Bitcoin Data">
                        <p-chart type="line" [data]="_btcData" [options]="options" height="400px"></p-chart>
                    </p-tabPanel>
                    <!-- ETH Chart -->
                    <p-tabPanel header="Ethereum Data" >
                        <p-chart type="line" [data]="_ethData" [options]="options" height="400px"></p-chart>
                    </p-tabPanel>
                    <!-- ADA Chart -->
                    <p-tabPanel header="Cardano Data">
                        <p-chart type="line" [data]="_adaData" [options]="options" height="400px"></p-chart>    
                    </p-tabPanel>
                    <!-- DOT Chart -->
                    <p-tabPanel header="Polkadot Data">
                        <p-chart type="line" [data]="_dotData" [options]="options" height="400px"></p-chart> 
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
        <!-- CHARTS -->
    </div>
</div>


