/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/primeng/resources/themes/arya-orange/theme.css"; */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.css";

body,
body .p-component
{
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.p-divider,
.p-divider-content {
  background-color: transparent !important;
  color: #ffc107 !important;
}